@CHARSET "UTF-8";

body {
	text-align: center;
}

.main_container {
	margin-top: 50px;
	padding: 16px;
	background-color: #dcdcdc;
	height: 100%;
}

.weather {
	width: 100%;
}

.subject {
	padding: 16px;
	width: 100%;
	font-size: x-large;
	background: clear;
	background-color: #dcdcdc;
	border: 0;
	resize: none;
}

.content {
	padding: 16px;
	width: 100%;
	font-size: large;
	background: clear;
	background-color: #dcdcdc;
	border: 0;
	resize: none;
}