@CHARSET "UTF-8";

body {
	text-align: center;
}

.main_container {
	margin-top: 50px;
	padding: 16px;
	background-color: #dcdcdc;
}

.weather {
	background-color: #dcdcdc;
}

.subject {
	padding: 16px;
	width: 90%;
	font-size: x-large;
	background: clear;
	background-color: #dcdcdc;
	border: 0;
	resize: none;
}

.content {
	padding: 16px;
	width: 90%;
	height: 600px;
	font-size: large;
	background: clear;
	background-color: #dcdcdc;
	border: 0;
	resize: none;
}
