@CHARSET "UTF-8";

body {
	text-align: center;
}

.main_container {
	margin-top: 50px;
	padding: 16px;
	background-color: #2277ff;
}

.yesterdayDaybook {
	margin-top: 16px;
	padding: 16px;
	background-color: #dcdcdc;
}

.todayDaybook {
	padding: 16px;
	background-color: #efefef;
}

.content {
	text-align: center;
}

#yesterdayContent {
	padding: 16px;
	font-size: large;
	background: clear;
	width: 90%;
	background-color: #dcdcdc;
	color: black;
	border: 0;
	resize: none;
}

#todayContent {
	padding: 16px;
	font-size: large;
	background: clear;
	width: 90%;
	background-color: #efefef;
	color: black;
	border: 0;
	resize: none;
}
